# dependencies
/node_modules

# next.js
/.next
/out

# env files
.env*.local
secure-env/*
!secure-env/.env.template

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
